.white-border{
    border-color: white;
}

.green{
    background-color: #4d917e;
}

.wrap{
    padding-top: 50px;
}
.marginb0{
    margin-bottom: 0;
}
.margint0{
    margin-top: 0;
}
.videodiv{
    /* position: absolute; */
    /* width: calc(100vw - 1.1vw); */
    /* left:0;
    right: 0;
    top:97px; */
}   
video{
    margin: auto; display: block;
    width: 100%;
    height: 600px;
    object-fit: cover;
    min-height: 500px;

}

.videoMessage { 
    position: absolute;
    top: 185px;
    left: 0;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center; 
    width: 100%;
    height: auto;
    color: white;
}


.videoMessage h2{
    height: 0;

}

.videoMessage button{
    margin-top: 20px;
    background-color: rgba(0,0,0,0.5);
}
.SearchWrap{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
    width: 800px;
    height: 200px;
    background-color: white;
    margin: auto;
    margin-top: -80px;
    z-index: 100;
    position: relative;
    border-radius: 5px;
    padding:15px;
}
.SearchWrap div{
    margin: 10px;
}
.region input{
    width: 400px; /*400px */

}
label{
    display:block;
    text-align: left;
    color: black;
}
.type .price input{
    width: 200px; /*200px*/
}

.currency input{
    width: 100px;
}
.sortBy input{
    width: 200px;
}
.search input{
    width: 200px;
}

input{
    height:40px;
    background-color: white;
    border-radius: 5px;
    border-width: 1px;
    display:block;
    border:1px solid #d1d1d1;

}

.search button{
    height: 40px;
    width: 200px;
    text-align: center;
    font-size: 15px;
    background-color: #4d917e;
    margin-top: 25px;
}
.popular{
    margin: 0px auto;
    max-width: 1290px;
    color: black;
}

.popWrap2{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
}

.popWrap2 img {
    width: 100%;
    object-fit: cover;
    max-width: 500px;
    max-height: 500px;
    min-height: 320px;
}


.popWrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;
}

.popWrap img {
    width: 100%;
    object-fit: cover;
    max-width: 500px;
    max-height: 500px;
    min-height: 250px;
}

.popchild{
padding: 15px;
}
.learn{
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    }
.lern span{
    display: block;
}
.learn-child1{
    grid-column: span 2;
    height: 400px;
    margin: 10px;
    background-image: url(../../assets/first.png);
    background-size:cover;

}
.learn-child1 h2{
    padding: 150px 0;
    color: white;
}
.learn-child2{
    margin: 10px;
    grid-column: span 1;
}
.learn-wrap{
    margin: 0px auto;
    max-width: 1290px;
}
.learn-child2 div{
    height: 46.5%;
}
.learn-child2 h2{
    margin-top: 0;
    padding-top: 60px;
    color: white;

}
.learn-child2 div:nth-child(2){
    background-image: url(../../assets/third.png);
    background-size:cover;
}
.learn-child2 div:nth-child(1){
    background-image: url(../../assets/second.png);
    background-size:cover;
}
.learn-hor{
    grid-column: span 3;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    height: 450px;
}
.learn-hor > div{
    width: 150px;
    margin: 10px;
}
.chilchild{
    height: 50%;
    background-color: #4d917e;

}
.cardText{
    width: 150px;
}
.learn-child3 .chilchild{
    background-image: url(../../assets/four.png);
    background-size:cover;
    width: 150px;
    height: 150px;
}
.learn-child4 .chilchild{
    background-image: url(../../assets/five.png);
    background-size:cover;
    width: 150px;
    height: 150px;
}
.learn-child5 .chilchild{
    background-image: url(../../assets/six.png);
    background-size:cover;
    width: 150px;
    height: 150px;
}
.learn-child6 .chilchild{
    background-image: url(../../assets/seven.png);
    background-size:cover;
    width: 150px;
    height: 150px;
}
.learn-child7 .chilchild{
    background-image: url(../../assets/eight.png);
    background-size:cover;
    width: 150px;
    height: 150px;
}
.learn-child8 .chilchild{
    background-image: url(../../assets/nine.png);
    background-size:cover;
    width: 150px;
    height: 150px;
}
.text-left{
    text-align: left;
}
.blackbox{
    background-image:linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url(../../assets/beach.png);
    background-size:cover;
    color:white;
    padding:70px 0 ;
    margin-top: 50px;
}
.swiper-button-next, .swiper-button-prev {
    margin-top: -60px !important;
}
.blackbox h2{
    margin: 0 auto;
    padding-bottom: 20px;
}
.greykbox{
    background-color: lightgrey;
    color:white;
    height: 150px;
    padding:70px 0 ;
    margin-top: 50px;
}
.testimonials{
    max-width: 1290px;
    margin: 0 auto;
}
.testimonials img{
    width: 100px;
    border-radius: 50%;
    height: 100px;
}
.aboutUs{
    max-width: 1290px;
    margin: 0 auto;
    padding: 15px;
}
.aboutUsCards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: 1290px;
    margin: 0 auto;
    text-align: left;
    padding-top: 25px;

}
.aboutUsCards p {
    margin: 0 0;
    width: 200px;
    padding-left: 25px;
}
.aboutUsCards img{
    padding-left: 25px;
    padding-top: 25px;
    width: 50px;
    height: 50px;
}
.aboutUsCards div{
    
    width: 300px;
    height: 250px;
    background-color: white;
    border-radius: 10%;
    box-shadow: 10px 10px 10px -2px lightgrey;
}
.ContactUs{
    margin:0 auto;
    max-width: 1290px;
}
.ContactUsWrap{
    display: grid;
    grid-template-columns: 2fr 1fr;
    box-shadow: 5px 23px 10px 10px lightgrey;
    /* box-shadow: 10px 10px 10px 15px lightblue; */
    padding: 20px;
}
.form input{
    margin: 0;
    width: 100%;
}
.form{
    display: grid;
    margin: 0;
    grid-template-columns: 2fr 1fr;
}
.form button{
    grid-column: span 2;
    width: 300px;
    height: 50px;
}
.form textarea{
    height: 200px;
    width: 100%;
    float: left;
    background-color: white;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    border-width: 1px;
}
.textarea{
    grid-column: span 2;
}
.contacts{
    margin-left: 50px;
    text-align: left;
}
.socials{
    text-align: center;
}
.contacts img{
    margin-left: 67px;
    width: 200px;
}
.newest{
    margin: 0 auto;
    max-width: 1290px;
}
.swiper-container {
    width: 480px;
  }
  .blogSwipe{
    display: none;
  }
@media screen and (max-width: 900px) {
    .popWrap img {

        min-height: 200px;
    }
    .form button{
        margin-left: 5vw;
    margin-top: 2vh;
    margin-bottom: 2vh;
    }
    .contacts {
        margin-left: 7px;
        text-align: left;
    }
    .aboutUsCards div {
        margin: 20px;
    }
    .learn-hor > div{
        width: 350px;
        margin: 10px;
    }
    .learn{
        justify-content: center;

    }
    .blogSwipe{
        display: block !important;
    }
    .blogNormal{
        display: none !important;
    }
    .learn-child2 h2 {
        padding-top: 0;
    }
    .popWrap{
        margin-left: 0;
        margin-right: 0;
        grid-template-columns: repeat(2, 1fr);
    }
    .learn-hor{
        display: block;
        margin:0 auto;
        height: auto;
    }
    .swiper-container {
        width: 768px;
      }
    .ContactUsWrap{
        grid-template-columns: 1fr;
    }
    .footer-wrap{
    grid-template-columns:none !important;
    }
    .SearchWrap{
        width: 300px;
        height: auto;
    }
    .SearchWrap div{
        width: 100%;
        text-align: left;
        flex-basis: 100%;

    }
    .SearchWrap input{
        width: 100%;
    }
    .SearchWrap button{
        width: 100%;
    }
}