
.textLeft{
    text-align: left;
}

.textRight{
    text-align: right;
}

.textCenter{
    text-align: center;
}
.borderT{
    border-top: 1px solid black;
}

.borderB{
    border-bottom: 1px solid black;
}




.apartament-container {
    padding-top: 150px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 1290px;
    margin: 0 auto;
    color: black;
    }

.price-wrap{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 350px;
    font-size: 27px;
}


.general-info{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    border-bottom: 1px solid black;
    text-align: left;
    width: fit-content;
    }
.general-info div{
    margin: 20px;
    margin-left: 0;
}
.description-wrap{
    text-align: left;
}
.price-wrap p {
    text-align: center;
}
.apartament-leftBox{
    text-align: left;
}

#image-gallery { 
    width: 700px;
    margin: 0 auto;
}
    #image-thumbs { 
          display: flex; 
          justify-content: center; 
          margin-top: 20px;
        }
.location_features{
    text-align: left;
}
.image-gallery img{
}
.location{
    color:#479D83;
    text-align: left !important;
}

.apartament-rightBox{
    padding-left: 25px;
    width: 500px;
}

.m2bedroomValues{
    
text-align: center;
}

.Name{
    border-top: 1px solid black;
    display: flex;
    justify-content: space-between;
}


.Name p {
    margin: 0;

}
.location-wrap{
    display: flex;
}

.bigText{
    width: 500px;
}