
.container{
    /* padding-bottom: 20vh; */
    z-index: 9999;
  }
  .navbar{
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: normal;
      align-content: normal;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding-top: 10px;
      padding-left: 25px;
      padding-bottom: 10px;
      height: 100px;
      align-items: center;
      z-index: 9999999;
      background: white;
      box-shadow: 0px 8px 5px 0px rgba(213,213,213,0.75);
    -webkit-box-shadow: 0px 8px 5px 0px rgba(213,213,213,0.75);
    -moz-box-shadow: 0px 8px 5px 0px rgba(213,213,213,0.75);
    }
    .navbar ul {
      position: relative;
      display: flex;
      list-style: none;
      margin: 0;
      padding: 0;
  
    }
    
    .navbar li{
      margin: 0 30px;
  
    }
    .nav-logo img{
        width: 200px;
        height: 100%;
        object-fit: contain;
        overflow: hidden;
    }
    .navbar a{
  
      color: black;
      text-decoration: none;
      font-size: 20px;
    }
    .flex-items:nth-child(1) {
        width: 250px;
        height: auto;
      display: block;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      align-self: auto;
      order: 0;
    }
    .flex-items:nth-child(2) {
        text-align: center;
      display: block;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      align-self: auto;
      order: 0;
    }
    .nav-icon {
      display: none;

    }

  
    @media screen and (max-width: 900px) {
      .nav-logo img{
        width: 150px;
      }
.flex-items:nth-child(1){
      flex-basis: min-content;
      text-align: left;
      padding-left: 50px;
}
.navbar{
  flex-direction: column;
}
  .navbar ul{
    transition: all 0.2s ease;
  
  }
      .nav-icon1{
        width: 40px;
        height: 10px;
        position: absolute;
        top: -15px;
        right: 10px;
        margin: 50px auto;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
      }
      
      .nav-icon1 span{
        background-color: black;
        display: inline-block;
        position: absolute;
        height: 5px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left:0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
      }
      
      .nav-icon1 span:nth-child(1) {
        top: 0px;
      }
      
      .nav-icon1 span:nth-child(2) {
        top: 11px;
      }
      
      .nav-icon1 span:nth-child(3) {
        top: 22px;
      }
      
      .nav-icon1.open span:nth-child(1) {
        top: 18px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
      }
      
      .nav-icon1.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
      }
      
      .nav-icon1.open span:nth-child(3) {
        top: 18px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
      }
      
  
  
  
  
  
      .container{
        /* padding-bottom: 20vw; */
  
      }
      .navbar{
        height: 80px; 
        padding-bottom: 0;
      }
      .flex-items:nth-child(2) {
        display: block;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
        align-self: auto;
        order: 0;
        padding-right: 10%;
      }
      .nav-icon{
        display: inline-block;
        position: absolute;
        top: -15px;
        right: -15px;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        color: #ffdd40;
      }
      .opened{
        display: block !important;
        height: 250px;
        max-height: 300px;
        top: 0 !important;

        transition: all 0.2s ease;
      }
      .navbar ul{
        top: -1000px;
        display: none;
        padding-top: 4vh;
        transition: all 0.2s ease;

      }
      .closed{
        opacity: 0;
        top: 0 ;
        transition: all 0.2s ease;

    visibility: hidden;
    transform: translateY(-100%);
      }
      
    }